# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env
venv/
.venv/

# Django
db.sqlite3
staticfiles/

# Firebase keys / JSON secrets
*.json
ikamai*.json

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
